{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2>작가 페이지</h2><br><br>
<h3>작가 정보</h3><hr>
작가 썸네일 : <img width="100" src="{{ author_info.profile_image.url }}"><br>
작가 닉네임 : {{ author_info.nickname }}<br>
작가 한줄소개 : {{ author_info.introduce_simple }}<br>
작가 소개 : {{ author_info.introduce_full }}<br>
<br><br><br>
<h3>작품 목록</h3><a href="{% url 'author:addwork' %}">작품 추가하기</a><hr>

{% for work in works %}
<a href="{% url 'chapter_list' work.id %}">
<div>
	<img src="{{ work.thumbnail_url }}">
	{{ work.title }} / {{ work.author }}<br>
	연재 시작일 : {{ work.created }}<br>
	최근 업로드 일자 : {{ work.last_upload }}<br>
	총 업로드 횟수 : {{ work.chapter_count }}<br>
</div>
</a>
<hr>
{% endfor %}
{% endblock %}