{% extends 'base.html' %}
{% load staticfiles %}

{% block hcontent %}
<section class="chapter">
	<section class="p w900 box-align-center">
		<section class="p layer-relative"><img src="{{ work.thumbnail_url }}" alt="" class="p w400 h200 layer">
			<article class="p font layer-relative">
			<h2>{{ work.title }}<span class="p show font pt10">{{ work.author }}</span></h2>
				<p>{{ work.description }}</p>
				<div class="p layer">
				<button id="add_to_favorites" class="ladda-button ladda-small" data-id="{{ work.id }}" data-color="blue" data-style="zoom-in" data-size="xs"><span class="ladda-label">즐겨찾기 추가</span></button>
				</div>
			</article>
		</section>
		<nav class="p font text-align-center">
			<ul class="p no-list no-margin edge-bottom-silver {% if chapter.work.author == user %}my-work{% endif %}">
			{% for chapter in chapters %}
				{% if chapter.public %}
					<li class="p edge-top-silver">
					<a href="{% url 'chapter_view' chapter.id %}" class="p no-line layer-relative show h100p font pt12">
						<img src="{{ chapter.thumbnail.url }}" alt="" class="p layer">
						<b class="p color-midnight-blue">{{ chapter.title }}</b>
						<span class="p right font pt10 color-asbestos">{{ chapter.created|date:"Y/m/d" }}</span>
					</a>
					{% if chapter.work.author == user %}
					<div>
					<button class="update-chapter ladda-button ladda-small" data-id="{{ chapter.id }}" data-color="blue" data-style="zoom-in" data-size="xs"><span class="ladda-label">갱신</span></button>
					<button class="update-chapter-public ladda-button ladda-small" data-id="{{ chapter.id }}" data-color="blue" data-style="zoom-in" data-size="xs"><span class="ladda-label">{% if chapter.public %}비{% endif %}공개</span></button>
					</div>
					{% endif %}
					</li>
				{% endif %}
			{% endfor %}
			</ul>
			<!--
			<ul class="p no-list no-margin m-top15 box-align-center">
				<li class="button p left"><a href="#"><img src="{% static 'img/icon.navigator.prev.png' %}" alt=""></a></li>
				<li class="p left"><a href="#" class="p no-line font color-midnight-blue pt12">101</a></li>
				<li class="p left"><a href="#" class="p no-line font color-midnight-blue pt12">102</a></li>
				<li class="p left"><a href="#" class="p no-line font color-midnight-blue pt12">103</a></li>
				<li class="p left"><a href="#" class="p no-line font color-midnight-blue pt12">104</a></li>
				<li class="p left"><a href="#" class="p no-line font color-midnight-blue pt12"><span class="p font weight-bold pt12">105</span></a></li>
				<li class="p left"><a href="#" class="p no-line font color-midnight-blue pt12">106</a></li>
				<li class="p left"><a href="#" class="p no-line font color-midnight-blue pt12">107</a></li>
				<li class="p left"><a href="#" class="p no-line font color-midnight-blue pt12">108</a></li>
				<li class="p left"><a href="#" class="p no-line font color-midnight-blue pt12">109</a></li>
				<li class="button p left"><a href="#"><img src="{% static 'img/icon.navigator.next.png' %}" alt=""></a></li>
				<li class="p clear"></li>
			</ul>
			-->
		</nav>
	</section>
	<script>declare(_not_index)</script>
	<section class="p clear"></section>
</section>
{% endblock %}

{% block script %}
<script>
$(function() {
	var csrfToken = $("{% csrf_token %}").val();
	$('#add_to_favorites').click(function() {
		var l = $(this).ladda();
		l.ladda('start');

		$.ajax({
			type: 'POST',
			url: '{% url 'member:add_to_favorites' %}',
			data: {
				type: 'work',
				id: $(this).data('id'),
				csrfmiddlewaretoken: csrfToken,
			},
			success: function(data) {
				alert(data.success ? '즐겨찾기에 등록되었습니다.' : data.message);
				l.ladda('stop');
			}
		});
	});

	{% if chapter.work.author == user %}
	$('.update-chapter[data-id]').click(function() {
		var l = $(this).ladda();
		l.ladda('start');

		$.ajax({
			type: 'POST',
			url: '{% url 'work.update_chapter' %}',
			data: {
				type: 'update',
				id: $(this).data('id'),
				csrfmiddlewaretoken: csrfToken,
			}
			success: function(data) {
				alert(data.success ? '갱신 요청이 완료되었습니다.' : data.message);
				l.ladda('stop');
			}
		});
	});

	$('.update-chapter-public[data-id]').click(function() {
		var l = $(this).ladda();
		l.ladda('start');

		$.ajax({
			type: 'POST',
			url: '{% url 'work.update_chapter' %}',
			data: {
				type: 'public',
				id: $(this).data('id'),
				csrfmiddlewaretoken: csrfToken,
			},
			success: function(data) {
				alert(data.message);
				l.ladda('stop');
			}
		});
	});
	{% endif %}
});
</script>
{% endblock %}