{% extends 'base2.html' %}
{% load staticfiles %}

{% block header %}
<h1 class="p font weight-thin pt36 spacing-small color-white text-shadow">티니큐브와 함께하세요</h1>
<article class="p font pt10 color-white">그냥 함께해라 ㅡㅡ 확씨 팍씨 막씨</article>
<nav class="p layer">
  <ul class="p no-list no-margin row-align">
    <li><a href="#" class="p box25 belize-hole no-line text-align-center font weight-bold pt12 color-white">1</a></li>
    <li><a href="#" class="p box25 belize-hole no-line text-align-center font weight-bold pt12 color-white">2</a></li>
    <li><a href="#" class="p box25 belize-hole no-line text-align-center font weight-bold pt12 color-white">3</a></li>
  </ul>
</nav>
{% endblock %}


{% block content %}
<h1 class="p font pt22 weight-thin text-align-center">Start with<span>&nbsp;tinicube</span></h1>
{% endblock %}