html, body { background: rgb(255, 255, 255) url(/static/img/index/bg.noise.png) }

header > .p:first-child > .p {
	h4.p { padding-right: 25px; line-height: 45px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) }
	section {
		height: 13px; margin: 16px 0 14px 10px; padding-left: 12px;

		img { cursor: pointer; margin: -3px 0 0 -3px; padding: 3px }
	}
	ul li {
		height: inherit; padding-left: 11px; line-height: 45px;

		a { padding: 2px 3px }
	}
}

header > .p:nth-child(2) > .p {
	padding-top: 45px; background-image: url(/static/img/index/hero.nexus.png); background-repeat: no-repeat; background-position: 100% 100%;

	h1 { margin-top: 45px }
	article { margin: 15px 0 0 5px }
	nav {
		bottom: 35px; left: 0;

		ul li {
			padding-right: 5px;

			a { display: inline-block; border-radius: 25px; line-height: 25px }
		}
	}
}

body > section { margin: 0 auto; padding: 25px 0 }

footer { 
	> .p {
		> h3.p { line-height: 100px }
		li { margin-left: 10px }
		li a { margin: -2px 0 0 -3px; padding: 2px 3px; line-height: 100px }
	}
}