html, body {
  background: white url(/static/img/index/bg.noise.png);
}

header > .p:first-child > .p h4.p {
  padding-right: 25px;
  line-height: 45px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
header > .p:first-child > .p section {
  height: 13px;
  margin: 16px 0 14px 10px;
  padding-left: 12px;
}
header > .p:first-child > .p section img {
  cursor: pointer;
  margin: -3px 0 0 -3px;
  padding: 3px;
}
header > .p:first-child > .p ul li {
  height: inherit;
  padding-left: 11px;
  line-height: 45px;
}
header > .p:first-child > .p ul li a {
  padding: 2px 3px;
}

header > .p:nth-child(2) > .p {
  padding-top: 45px;
  background-image: url(/static/img/index/hero.nexus.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
header > .p:nth-child(2) > .p h1 {
  margin-top: 45px;
}
header > .p:nth-child(2) > .p article {
  margin: 15px 0 0 5px;
}
header > .p:nth-child(2) > .p nav {
  bottom: 35px;
  left: 0;
}
header > .p:nth-child(2) > .p nav ul li {
  padding-right: 5px;
}
header > .p:nth-child(2) > .p nav ul li a {
  display: inline-block;
  border-radius: 25px;
  line-height: 25px;
}

body > section {
  margin: 0 auto;
  padding: 25px 0;
}

footer > .p > h3.p {
  line-height: 100px;
}
footer > .p li {
  margin-left: 10px;
}
footer > .p li a {
  margin: -2px 0 0 -3px;
  padding: 2px 3px;
  line-height: 100px;
}
