{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block content %}
<form class="no-margin" action="{% url 'index' %}" method="POST">
	{% csrf_token %}
	<fieldset>
		<div class="control-group no-margin">
			<label class="control-label" for="username" >ID</label>
			<div class="control">
				<div class="input-prepend input-padding-increased">
								<span class="add-on">
									<i class="eicon-user icon-large"></i>
								</span>
					{{ form.username }}
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password" >Password</label>
			<div class="control">
				<div class="input-prepend input-padding-increased">
								<span class="add-on">
									<i class="icon-lock icon-large"></i>
								</span>
					{{ form.passwosdjasflrd }}
				</div>
			</div>
		</div>
	</fieldset>
	<div class="form-actions">
		<input name="next" value="{{ next }}" type="hidden">
		<button type="submit" class="btn btn-block btn-large btn-primary">
			<span class="small-circle"><i class="icon-caret-right"></i></span>
			<small>Sign In</small>
		</button>
		<a class="btn btn-block btn-success" href="{% url 'registration_register' %}">
			<span class="small-circle"><i class="eicon-user-add"></i></span>
			<small>Sign Up</small>
		</a>
		<div class="forgot"><a class="forgot" href="#">Forgot Username or Password?</a></div>
	</div>
</form>


{% endblock %}