{% extends 'registration/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="single-widget-container">
	<section class="widget login-widget">
		<header class="text-align-center">
			<!-- <h4>SW Maestro Intranet</h4> -->
			<h3>SoMa IN<br/></h3>
			<legend><small>SW Maestro Intranet</small></legend>
			<h5>You are now registered. Activation email sent.</h5>
		</header>
		<div class="body" style="padding-bottom: 10px;">
			
		</div>
	</section>
</div>
{% endblock %}