{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
Cubi - 공지사항 목록
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/noticelist.css' %}">
{% endblock %}

{% block content %}
<h1>공지사항</h1>
{% if notices %}
	{% for notice in notices %}
		<div>{{ notice.title }} <small>{{ notice.created }}</small></div>
	{% endfor %}
{% else %}
	<h4>공지사항이 없습니다</h4>
{% endif %}


<ul class="pagination">
	{% if notices.has_previous %}
	<li><a href="?page={{ notices.previous_page_number }}">Prev</a></li>
	{% endif %}

	{% if notices.page_range_data.show_first %}
	<li><a href="?page=1">1</a></li>
	{% endif %}

	{% for i in notices.page_range_data.page_range %}
		{% ifequal i notices.number %}
			<li class="active"><a>{{ i }}</a></li>
		{% else %}
			<li><a href="?page={{ i }}">{{ i }}</a></li>
		{% endifequal %}
	{% endfor %}

	{% if notices.page_range_data.show_last %}
	<li><a href="?page={{ i }}">{{ notices.paginator.num_pages }}</a></li>
	{% endif %}

	{% if notices.has_next %}
	<li><a href="?page={{ notices.next_page_number }}">Next</a></li>
	{% endif %}
</ul>
{% endblock %}