{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
	<head>
		<title>{% block title %}Cubi Base{% endblock %}</title>
		<meta charset="utf-8">
		<title>Cubi</title>
		<link rel="stylesheet" href="{% static 'css/common.css' %}">
		<link rel="stylesheet" href="{% static 'css/header.css' %}">
		<link rel="stylesheet" href="{% static 'css/footer.css' %}">
		
		<!-- Web Font -->
		<link href="{% static 'css/font.css' %}" rel="stylesheet">

		{% block head %}
		{% endblock %}
	</head>
	<body>
		<header>
			<section>
				<section>
					<a href="./">
						<img src="{% static 'img/logo.png' %}" alt="Cubi">
					</a>
					<section>
						<form action="#" method="post">
							<input type="text">
							<a href="javascript:(function(){})()" onclick="">
								<img src="{% static 'img/btn.search.png' %}" alt="Search button">
							</a>
						</form>
					</section>
				</section>
			</section>
			<section>
				<section>
					<ul>
						<li>
							<a href="{% url 'index' %}">
								<span>홈</span>
							</a>
						</li>
						<li>
							<a href="{% url 'about' %}">
								<span>Cubi?</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>|</span>
							</a>
						</li>
						<li>
							<a href="{% url 'noticelist' %}">
								<span>공지사항</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>작품 목록</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>작가 목록</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>|</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>FAQ</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>Q&A</span>
							</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="#">
								<span>로그인</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>회원 가입</span>
							</a>
						</li>
					</ul>
				</section>
			</section>
		</header>
		<section>
			{% block content %}
			{% endblock %}
		</section>
		<footer>
			<section>
				<ul>
					<li>
						<a href="#">
							<span>홈</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>블로그</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>이용 약관</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>개인정보취급방침</span>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="#">
							<span>맨 위로</span>
						</a>
					</li>
				</ul>
			</section>
		</footer>
	</body>
</html>