{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Cubi{% endblock %}</title>
		<link rel="stylesheet" href="static/css/common.css">
		<link rel="stylesheet" href="static/css/header.css">
		<link rel="stylesheet" href="static/css/footer.css">
		<script src="static/js/jquery.js"></script>
		<script src="static/js/cubi.js"></script>
		<script src="http://www.google.com/jsapi"></script>
		<script>
			google.load('webfont', '1');
			google.setOnLoadCallback(function() {
				WebFont.load({
					custom: {
						families: ['NanumGothic', 'NanumGothicBold'],
						urls: ['http://fontface.kr/NanumGothic/css', 'http://fontface.kr/NanumGothicBold/css']
					}
				});
			});
		</script>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{% block head %}
		{% endblock %}
	</head>
	<body>
		<header>
			<section>
				<section>
					<a href="./">
						<img src="static/img/logo.png" alt="Cubi">
					</a>
					<section>
						<form action="#" method="post">
							<input type="text">
							<a href="javascript:(function(){})()" onclick="">
								<img src="static/img/btn.search.png" alt="Search button">
							</a>
						</form>
					</section>
				</section>
			</section>
			<section>
				<section>
					<ul>
						<li>
							<a href="./">
								<span>홈</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>공지사항</span>
							</a>
						</li>
						<li>
							<a href="artworks.html">
								<span>작품 목록</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>작가 목록</span>
							</a>
						</li>

						<li>
							<a href="#">
								<span>|</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>FAQ</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span>Q&amp;A</span>
							</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="javascript:Cubi.invokeEvent('userSignIn')">
								<span>로그인</span>
							</a>
						</li>
						<li>
							<a href="javascript:Cubi.invokeEvent('userRegister')">
								<span>회원 가입</span>
							</a>
						</li>
					</ul>
				</section>
			</section>
		</header>
		<section>
			{% block content %}
			{% endblock %}
		</section>
		<footer>
			<section>
				<ul>
					<li>
						<a href="#">
							<span>홈</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>블로그</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>이용 약관</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>개인정보취급방침</span>
						</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="javascript:Cubi.invokeEvent('goTop')">
							<span>맨 위로</span>
						</a>
					</li>
				</ul>
			</section>
		</footer>
	</body>
</html>

