{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=high-dpi" />
		<title>Wofex error</title>
		<link rel="stylesheet" href="{% static 'css/error_style.css' %}" />
	</head>
	<body>
		<section></section>
		<section>
		<section>
			<section></section>
			<section></section>
		</section>
		<h3>
			<span>404 NOT FOUND</span><br />
			<span>요청하신 페이지는 없는 페이지입니다.</span>
		</h3>
		</section>
    <a href="#" onclick="(function(){if(document.referrer){location.replace(document.referrer);}else{history.go(-1);}})()" style="font: normal normal normal 9pt/normal 'Malgun Gothic', sans-serif; text-decoration: none; color: white; background: #2ecc71; display: block; position: absolute; top: 50%; left: 50%; width: 120px; height: 30px; padding: 5px; text-align: center; line-height: 30px; border-radius: 5px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); margin: 225px 0 0 -70px;">이전으로 돌아가기</a>
	</body>
</html>

