{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Cubi - 모바일 앱 퍼블리싱 서비스
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div style="width: 1000px; margin: 0 auto;">
<div style="text-align: center;"><img src="{% static 'temp_img/index1.png' %}"></div>
<h2>Cubi는 누구나 쉽게 자신의 작품을 앱으로 제작할 수 있는 공간입니다</h2>
<div>[만화 삽입]</div>
<h2>무료로 모바일 앱을 제작해드립니다(안드로이드/아이폰)</h2>
<h2>광고수익을 작가님과 분배합니다</h2>
<h2>등등 소개. 어떻게 할지 추후 기획. 그림은 뭐넣을지</h2>
</div>
{% endblock %}