

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url(http://localhost:8000/static/fonts/NanumBarunGothic.eot);
    src: url(http://localhost:8000/static/fonts/NanumBarunGothic.eot) format('embedded-opentype'),
         url(http://localhost:8000/static/fonts/NanumBarunGothic.woff) format('woff'),
         url(http://localhost:8000/static/fonts/NanumBarunGothic.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url(http://localhost:8000/static/fonts/NanumBarunGothicBold.eot);
    src: url(http://localhost:8000/static/fonts/NanumBarunGothicBold.eot) format('embedded-opentype'),
         url(http://localhost:8000/static/fonts/NanumBarunGothicBold.woff) format('woff'),
         url(http://localhost:8000/static/fonts/NanumBarunGothicBold.ttf) format('truetype');
}
body {
  font-family: 'NanumBarunGothic';
}