@charset "utf-8";

body > section.blind section#Register { width: 500px; height: 300px; margin: -150px 0 0 -250px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); position: absolute; top: 50%; left: 50% }
body > section.blind section#Register section.status { width: 45px; height: 300px }
body > section.blind section#Register section.status.left { float: left }
body > section.blind section#Register section.status.right { float: right }
body > section.blind section#Register section.status.a { background: rgb(69, 114, 217) }
body > section.blind section#Register section.status.b { background: rgb(90, 130, 221) }
body > section.blind section#Register section.status.c { background: rgb(111, 146, 226) }
body > section.blind section#Register section h1 { width: 45px; height: 45px; text-align: center; font: normal normal normal 20pt/45px 'Segoe UI', 'AppleGothic', sans-serif; color: rgb(255, 255, 255) }
body > section.blind section#Register > section:first-child { width: 325px; height: 260px; padding: 20px; background: rgb(255, 255, 255); position: absolute; top: 0; left: 0; text-align: right }
body > section.blind section#Register > section:first-child h1 { width: inherit; padding-left: 15px; position: absolute; top: 0; left: 0; text-align: left; font-family: 'Segoe UI', 'Malgun Gothic' 'AppleGothic', sans-serif; color: rgb(0, 0, 0) }
body > section.blind section#Register > section:first-child h1 span { vertical-align: bottom }
body > section.blind section#Register > section:first-child h1 span:nth-child(2) { font-size: 14pt }
body > section.blind section#Register > section:first-child > section { height: 200px; margin: 25px 0 5px }
body > section.blind section#Register > section:first-child > section textarea { width: 313px; height: 173px }
body > section.blind section#Register > section:first-child > section h2 { text-align: center; font: normal normal normal 18pt/175px 'Malgun Gothic' 'AppleGothic' }

.wf-active body > section.blind section#Register section:first-child h1, .wf-active body > section.blind section#Register > section:first-child > section h2 { font-family: 'Segoe UI', 'NanumGothic', 'Malgun Gothic' 'AppleGothic', sans-serif }