/* Pentagon extend */
ul.p.red-bullet {
  margin: 5px 0;
  list-style: none;
}

ul.p.red-bullet li {
  padding-left: 20px;
  background: transparent url(../img/icon.bullet.png) no-repeat 5px 50%;
}

ul.p.row-align li {
  display: inline-block;
}

.p.w425 {
  width: 425px;
}

.p.w440 {
  width: 440px;
}

.p.w445 {
  width: 445px;
}

.p.w290 {
  width: 290px;
}

.p.h20 {
  height: 20px;
}

.p.h45 {
  height: 45px;
}

.p.h120 {
  height: 120px;
}

.p.h345 {
  height: 345px;
}

.p.h540 {
  height: 540px;
}

.p.m-top15 {
  margin-top: 15px;
}

.p.m-top30 {
  margin-top: 30px;
}

.p.m-bottom15 {
  margin-bottom: 15px;
}

.p.m-horizon15 {
  margin-left: 15px;
  margin-right: 15px;
}

.p.p-top15 {
  padding-top: 15px;
}

.p.p15 {
  padding: 15px;
}

.p.box {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.05);
  line-height: normal;
}

.p.box-align-center {
  margin-right: auto;
  margin-left: auto;
}

.p.abs {
  overflow: hidden;
}

.p.edge-bottom-nephritis {
  border-bottom: solid 1px #27ae60;
}

.p.edge-left-nephritis {
  border-left: solid 1px #27ae60;
}

.p.edge-bottom-belize-hole {
  border-bottom: solid 1px #2980b9;
}

.p.edge-left-belize-hole {
  border-left: solid 1px #2980b9;
}

.p.edge-top-silver {
  border-top: solid 1px #bdc3c7;
}

.p.edge-bottom-silver {
  border-bottom: solid 1px #bdc3c7;
}

.p.color-midnight-blue {
  color: #2c3e50;
}

.p.color-wet-asphalt {
  color: #34495e;
}

.p.color-asbestos {
  color: #7f8c8d;
}

.p.color-emerald {
  color: #2ecc71;
}

.p.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.p.line-h20 {
  line-height: 20px;
}

.p.line-h160p {
  line-height: 160%;
}

.p.line-h180p {
  line-height: 180%;
}

/* Tinicube maistream */
html, body {
  background: white url(../img/bg.noise.png);
}

body.not-index header > section:first-child {
  background: #3498db;
}
body.not-index header > section:nth-child(2) {
  display: none;
}
body.not-index > section {
  padding-top: 60px;
}
body.not-index > footer {
  background: white url(../img/bg.noise.png);
}

body.chapter-view {
  background-image: none;
}
body.chapter-view header > section:first-child {
  background: #bdc3c7;
  border-bottom-color: #95a5a6;
}
body.chapter-view header .p .p > * {
  display: none;
}
body.chapter-view header .p .p h4 {
  width: 100%;
  padding: 0;
  text-align: center;
}
body.chapter-view header .p .p h4, body.chapter-view header .p .p h4 * {
  display: inline-block;
  font-size: 12pt;
}
body.chapter-view header .p .p h4 > *:first-child {
  display: none;
}
body.chapter-view > section {
  padding-bottom: 101px;
}

header > .p:first-child > .p h4.p {
  padding-right: 25px;
  line-height: 45px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
header > .p:first-child > .p > section {
  height: 13px;
  margin: 16px 0 14px 10px;
  padding-left: 12px;
}
header > .p:first-child > .p > section input {
  width: 104px;
  height: 16px;
  margin: -3px -16px 0 0;
  padding: 2px 20px 2px 4px;
  border: 0;
  border-radius: 3px;
  vertical-align: top;
}
header > .p:first-child > .p > section img {
  cursor: pointer;
  margin: -3px 0 0 -3px;
  padding: 3px;
}
header > .p:first-child > .p > ul > li {
  height: inherit;
  padding-left: 11px;
  line-height: 45px;
}
header > .p:first-child > .p > ul > li a {
  padding: 2px 3px;
}
header > .p:first-child > .p > ul > li > section {
  margin: -5px 0 0 -34px;
  padding: 2px;
  line-height: normal;
}
header > .p:first-child > .p > ul > li > section nav {
  height: 25px;
  border-radius: 3px 3px 0 0;
}
header > .p:first-child > .p > ul > li > section nav li {
  float: left;
  width: 61px;
  border-bottom: solid 1px #2980b9;
  background: #2980b9;
  text-align: center;
  line-height: 25px;
}
header > .p:first-child > .p > ul > li > section nav li a {
  color: white;
}
header > .p:first-child > .p > ul > li > section nav li:first-child {
  border-radius: 2.5px 0 0 0;
}
header > .p:first-child > .p > ul > li > section nav li:nth-child(2) {
  border-radius: 0 2.5px 0 0;
}
header > .p:first-child > .p > ul > li > section nav li.selected {
  border-bottom-color: #ecf0f1;
  background: #ecf0f1;
}
header > .p:first-child > .p > ul > li > section nav li.selected a {
  color: #34495e;
}
header > .p:first-child > .p > ul > li > section section {
  width: 122px;
  height: 200px;
  border-radius: 0 0 3px 3px;
  overflow-x: hidden;
  overflow-y: auto;
}
header > .p:first-child > .p > ul > li > section section article {
  width: 100%;
  overflow-y: auto;
}
header > .p:first-child > .p > ul > li > section section article:nth-child(2) {
  left: 126px;
}
header > .p:first-child > .p > ul > li > section section a {
  padding: 5px;
  border-top: solid 1px #bdc3c7;
}
header > .p:first-child > .p > ul > li > section section a:hover {
  background: transparent url(../img/icon.bullet.go.png) no-repeat 90% 50%;
}
header > .p:first-child > .p > ul > li > section section a:first-child {
  border-top-width: 0;
}
header > .p:first-child > .p > ul > li > section section a b span {
  font-size: 7pt;
}

header > .p:nth-child(2) > .p > section {
  padding-top: 45px;
  height: 495px;
  background-repeat: no-repeat;
}
header > .p:nth-child(2) > .p > section:first-child {
  background-image: url(../img/__.hero_01.png);
}
header > .p:nth-child(2) > .p > section:nth-child(2) {
  background-image: url(../img/__.hero_02.png);
}
header > .p:nth-child(2) > .p > section:nth-child(3) {
  background-image: url(../img/__.hero_03.png);
}
header > .p:nth-child(2) > .p h1 {
  margin-top: 45px;
}
header > .p:nth-child(2) > .p article {
  margin: 15px 0 0 5px;
}
header > .p:nth-child(2) > .p nav {
  bottom: 35px;
  left: 0;
}
header > .p:nth-child(2) > .p nav ul li {
  padding-right: 5px;
}
header > .p:nth-child(2) > .p nav ul li a {
  display: inline-block;
  border-radius: 25px;
  line-height: 25px;
}
header > .p:nth-child(2) > .p nav ul li a.selected {
  background: white;
  color: #2980b9;
}

html[noie] body > section.artworks > section:first-child > section:first-child {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
}
html[noie] body > section.artworks > section:first-child > section:first-child > section {
  -webkit-transition: -webkit-transform 1.5s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(-259.8px);
  -moz-transition: -moz-transform 1.5s;
  -moz-transform-style: preserve-3d;
  -moz-transform: translateZ(-259.8px);
  -ms-transition: -ms-transform 1.5s;
  -ms-transform-style: preserve-3d;
  -ms-transform: translateZ(-259.8px);
  -o-transition: -o-transform 1.5s;
  -o-transform-style: preserve-3d;
  -o-transform: translateZ(-259.8px);
  transition: transform 1.5s;
  transform-style: preserve-3d;
  transform: translateZ(-259.8px);
}
html[noie] body > section.artworks > section:first-child > section:first-child > section section {
  -webkit-transform: translateZ(259.8px);
  -moz-transform: translateZ(259.8px);
  -ms-transform: translateZ(259.8px);
  -o-transform: translateZ(259.8px);
  transform: translateZ(259.8px);
}
html[noie] body > section.artworks > section:first-child > section:first-child > section section:nth-child(2) {
  -webkit-transform: rotateY(120deg) translateZ(259.8px);
  -moz-transform: rotateY(120deg) translateZ(259.8px);
  -ms-transform: rotateY(120deg) translateZ(259.8px);
  -o-transform: rotateY(120deg) translateZ(259.8px);
  transform: rotateY(120deg) translateZ(259.8px);
}
html[noie] body > section.artworks > section:first-child > section:first-child > section section:nth-child(3) {
  -webkit-transform: rotateY(240deg) translateZ(259.8px);
  -moz-transform: rotateY(240deg) translateZ(259.8px);
  -ms-transform: rotateY(240deg) translateZ(259.8px);
  -o-transform: rotateY(240deg) translateZ(259.8px);
  transform: rotateY(240deg) translateZ(259.8px);
}

body > section {
  padding: 25px 0 116px;
}
body > section.index {
  margin: 0 auto;
}
body > section.index > section:nth-child(2) > .p.right li:first-child {
  margin: 0;
}
body > section.index > section:nth-child(2) > .p.right li img {
  width: 440px;
  height: 120px;
  background: transparent url(../img/bg.sample.png);
}
body > section.index > section:nth-child(2) > .p.right li span {
  right: 15px;
  bottom: 15px;
}
body > section.index > section:nth-child(2) > .p.right li span:nth-child(2) {
  bottom: 35px;
}
body > section.artworks > section:nth-child(2) > section > a {
  display: block;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
body > section.artworks > section:nth-child(2) > section > a > img {
  display: block;
}
body > section.chapter > section > section {
  height: 170px;
  padding: 15px 0 15px 415px;
}
body > section.chapter > section > section img {
  top: 0;
  left: 0;
}
body > section.chapter > section > section article {
  height: 170px;
}
body > section.chapter > section > section article h2 span {
  color: #7f8c8d;
}
body > section.chapter > section > section article p {
  padding: 15px 0;
}
body > section.chapter > section > section article div {
  bottom: 0;
  left: 0;
}
body > section.chapter > section > section article div a.p {
  margin-right: 5px;
  padding: 5px 7px 5px 26px;
  border-radius: 3px;
  background-image: url(../img/icon.first.png);
  background-repeat: no-repeat;
  background-position: 7px 50%;
  background-size: 12px 12px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  transition: background 0.1s linear;
}
body > section.chapter > section > section article div a:hover {
  background-color: #3498db;
}
body > section.chapter > section > section article div a:first-child {
  background-image: url(../img/icon.favorite.png);
}
body > section.chapter nav ul:first-child {
  margin-top: 10px;
  text-align: left;
}
body > section.chapter nav ul:first-child li {
  height: 45px;
  padding: 10px 0;
  overflow: hidden;
}
body > section.chapter nav ul:first-child li a {
  padding-left: 120px;
}
body > section.chapter nav ul:first-child li a img {
  width: 105px;
  height: 45px;
  top: 0;
  left: 0;
}
body > section.chapter nav ul:first-child li a > * {
  line-height: 45px;
}
body > section.chapter nav ul:first-child li a b {
  line-height: 35px;
}
body > section.chapter nav ul:first-child li a b > span {
  margin-top: -10px;
}
body > section.chapter nav ul:nth-child(2) {
  display: inline-block;
}
body > section.chapter nav ul:nth-child(2) * {
  display: inline-block;
}
body > section.chapter nav ul:nth-child(2) li {
  display: block;
  min-width: 24px;
  height: 24px;
  padding: 0 0 0 9px;
}
body > section.chapter nav ul:nth-child(2) li a {
  line-height: 24px;
  text-align: center;
}
body > section.chapter nav ul:nth-child(2) li a span {
  color: #e74c3c;
}
body > section.chapter nav ul:nth-child(2) li:first-child {
  padding: 0;
}
body > section.chapter nav ul:nth-child(2) li.button a {
  width: 12px;
  height: 12px;
  padding: 6px;
  line-height: normal;
}
body > section.chapter nav ul:nth-child(2) li.p.clear {
  width: 0;
  height: 0;
}
body > section.view > section:first-child nav ul {
  width: 600px;
  margin: 0 auto;
}
body > section.view > section:first-child nav li {
  width: 100px;
  height: 125px;
  margin-left: 15px;
  overflow: hidden;
}
body > section.view > section:first-child nav li.button {
  width: 20px;
  margin: 0;
}
body > section.view > section:first-child nav li.button a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
body > section.view > section:first-child nav li.button a img {
  width: 20px;
  height: 20px;
  border: 0;
  padding: 40px 0;
}
body > section.view > section:first-child nav ul li:nth-child(2) {
  margin: 0;
}
body > section.view > section:first-child nav li img {
  width: 98px;
  height: 98px;
  border: solid 1px rgba(0, 0, 0, 0.55);
}
body > section.view > section:first-child nav li span {
  line-height: 25px;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child {
  width: 585px;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child h4 {
  height: 30px;
  line-height: 30px;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child p {
  height: 60px;
  padding-top: 10px;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section {
  width: 235px;
  top: 0;
  right: 0;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > * {
  cursor: pointer;
  width: 95px;
  height: 30px;
  border-radius: 5px;
  line-height: 30px;
  transition: background 0.25s linear;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > *:first-child {
  width: 130px;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > a.remove {
  background: #e74c3c;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > a:active {
  background: #2980b9;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > a.remove:active {
  background: #c0392b;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section b {
  display: inline-block;
  padding-left: 5px;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section > section {
  width: 95px;
  height: 20px;
  padding: 5px 0;
  border-radius: 5px 0 0 0;
  text-align: center;
  line-height: 20px;
  transition: background 0.125s linear;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section > section > span > span:first-child {
  display: inline-block;
  -webkit-transform: rotateZ(45deg);
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section nav {
  display: none;
  width: 95px;
  border-radius: 0 0 5px 5px;
  top: 30px;
  left: 0;
  transition: display 0.125s linear;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section nav li {
  width: 95px;
  height: 30px;
  text-align: center;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section nav li a {
  display: block;
  width: 95px;
  height: 30px;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section nav li a:hover {
  background: rgba(255, 255, 255, 0.125);
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section nav li a:active {
  background: rgba(0, 0, 0, 0.125);
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section nav li a > span > span:first-child {
  display: inline-block;
  -webkit-transform: rotateZ(45deg);
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section nav li:nth-child(even) {
  background: #27ae60;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section nav li:last-child {
  border-radius: 0 0 5px 5px;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section > a {
  width: 25px;
  height: 20px;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  line-height: 20px;
  transition: background 0.125s linear;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section > a:active {
  background: #2980b9;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section.open section {
  background: #2980b9;
}
body > section.view > section:nth-child(2) > section:first-child > section:first-child > section > section.open nav {
  display: block;
  background: #2ecc71;
}
body > section.view > section:nth-child(2) > section:first-child > section:nth-child(2) {
  border-radius: 10px;
}
body > section.view > section:nth-child(2) > section:first-child > section:nth-child(2) a {
  width: 100px;
  height: 100px;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment {
  text-align: center;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment h4 {
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  text-align: left;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment textarea {
  width: 789px;
  max-width: 789px;
  height: 28px;
  max-height: 28px;
  padding: 5px;
  border: solid 1px #3498db;
  border-right-width: 0;
  border-radius: 5px 0 0 5px;
  background: white;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment textarea:focus {
  padding: 4px 5px 4px 4px;
  border-width: 2px;
  border-right-width: 0;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #3498db;
  transition: background 0.125s linear;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment button:active {
  background: #2980b9;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment section {
  text-align: left;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment section article {
  border-top: dashed 1px #7f8c8d;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment section article:first-child {
  border: 0;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment section article h5 span {
  font-weight: normal;
  color: #7f8c8d;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment section article p {
  padding-top: 5px;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment ul {
  display: inline-block;
  margin-bottom: 15px;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment ul * {
  display: inline-block;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment ul li {
  display: block;
  min-width: 24px;
  height: 24px;
  padding: 0 0 0 9px;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment ul li a {
  line-height: 24px;
  text-align: center;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment ul li a span {
  color: #e74c3c;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment ul li:first-child {
  padding: 0;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment ul li.button a {
  width: 12px;
  height: 12px;
  padding: 6px;
  line-height: normal;
}
body > section.view > section:nth-child(2) > section:first-child > section.comment ul li.p.clear {
  width: 0;
  height: 0;
}
body > section.login > h1 {
  margin: -210px 0 0 -165px;
  top: 50%;
  left: 50%;
  color: #2980b9;
}
body > section.login > h1 span {
  color: #8e44ad;
}
body > section.login > section {
  margin: -142.5px 0 0 -165px;
  top: 50%;
  left: 50%;
}
body > section.login > section form.p > span {
  display: inline-block;
  height: 25px;
}
body > section.login > section form.p input {
  margin-bottom: 10px;
}
body > section.login > section form.p input[type=text].p, body > section.login > section form.p input[type=password].p {
  display: block;
  width: 282px;
  height: 25px;
  padding: 3px 7px;
  border-width: 2px;
  transition: border-color 0.25s linear;
}
body > section.login > section form.p input[type=text].p:focus, body > section.login > section form.p input[type=password].p:focus {
  border-color: #2980b9;
}
body > section.login > section form.p input[type=submit] {
  cursor: pointer;
  width: 300px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background: #2980b9;
  transition: background 0.125s linear;
}
body > section.login > section form.p input[type=submit]:hover {
  background: #2575a9;
}
body > section.login > section form.p div > * {
  line-height: 75px;
  color: #226a99;
}
body > section.lost-and-found > h1 {
  margin: -160px 0 0 -165px;
  top: 50%;
  left: 50%;
  color: #2980b9;
}
body > section.lost-and-found > h1 span {
  color: #8e44ad;
}
body > section.lost-and-found > section {
  margin: -92.5px 0 0 -165px;
  top: 50%;
  left: 50%;
}
body > section.lost-and-found > section form.p > span {
  display: inline-block;
  height: 25px;
}
body > section.lost-and-found > section form.p input {
  margin-bottom: 10px;
}
body > section.lost-and-found > section form.p input[type=text].p, body > section.lost-and-found > section form.p input[type=password].p {
  display: block;
  width: 282px;
  height: 25px;
  padding: 3px 7px;
  border-width: 2px;
  transition: border-color 0.25s linear;
}
body > section.lost-and-found > section form.p input[type=text].p:focus, body > section.lost-and-found > section form.p input[type=password].p:focus {
  border-color: #2980b9;
}
body > section.lost-and-found > section form.p input[type=submit] {
  cursor: pointer;
  width: 300px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background: #2980b9;
  transition: background 0.125s linear;
}
body > section.lost-and-found > section form.p input[type=submit]:hover {
  background: #2575a9;
}
body > section.lost-and-found > section form.p div > * {
  line-height: 15px;
  color: #226a99;
}
body > section.terms article {
  padding: 10px;
}
body > section.terms article h3 {
  margin: 25px 0 5px;
}
body > section.terms article h3:first-child {
  margin-top: 0;
}
body > section.terms article p {
  display: inline-block;
  padding: 10px 0 0 10px;
}
body > section.register > h1 {
  margin: -250px 0 0 -165px;
  top: 50%;
  left: 50%;
  color: #2980b9;
}
body > section.register > h1 span {
  color: #8e44ad;
}
body > section.register > section {
  height: 280px;
  margin: -182.5px 0 0 -165px;
  top: 50%;
  left: 50%;
}
body > section.register > section form.p input {
  margin-bottom: 10px;
}
body > section.register > section form.p input[type=text].p, body > section.register > section form.p input[type=password].p {
  display: block;
  width: 282px;
  height: 25px;
  padding: 3px 7px;
  border-width: 2px;
  transition: border-color 0.25s linear;
}
body > section.register > section form.p input[type=text].p:focus, body > section.register > section form.p input[type=password].p:focus {
  border-color: #2980b9;
}
body > section.register > section form.p input[type=submit] {
  cursor: pointer;
  width: 300px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background: #2980b9;
  transition: background 0.125s linear;
}
body > section.register > section form.p input[type=submit]:hover {
  background: #2575a9;
}
body > section.register > section form.p div > * {
  line-height: 55px;
  color: #226a99;
}
body > section.my-info > h1 {
  margin: -250px 0 0 -165px;
  top: 50%;
  left: 50%;
  color: #2980b9;
}
body > section.my-info > h1 span {
  color: #8e44ad;
}
body > section.my-info > section {
  height: 280px;
  margin: -182.5px 0 0 -165px;
  top: 50%;
  left: 50%;
}
body > section.my-info > section form.p input {
  margin-bottom: 10px;
}
body > section.my-info > section form.p input[type=text].p, body > section.my-info > section form.p input[type=password].p {
  display: block;
  width: 282px;
  height: 25px;
  padding: 3px 7px;
  border-width: 2px;
  transition: border-color 0.25s linear;
}
body > section.my-info > section form.p input[type=text].p:focus, body > section.my-info > section form.p input[type=password].p:focus {
  border-color: #2980b9;
}
body > section.my-info > section form.p input[type=submit] {
  cursor: pointer;
  width: 300px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background: #2980b9;
  transition: background 0.125s linear;
}
body > section.my-info > section form.p input[type=submit]:hover {
  background: #2575a9;
}
body > section.my-info > section form.p div > * {
  line-height: 55px;
  color: #226a99;
}
body > section.login.fail > section form.p div > * {
  line-height: 45px;
}
body > section.my_artwork_agreement .textarea {
  padding: 15px;
  border-radius: 10px;
}
body > section.my_artwork_agreement textarea {
  width: 855px;
  height: 170px;
  padding-right: 15px;
  overflow: auto;
  word-break: break-all;
}
body > section.my_artwork_agreement .agree {
  cursor: pointer;
  display: inline-block;
  height: 25px;
}
body > section.my_artwork_agreement .agree > * {
  float: left;
}
body > section.my_artwork_agreement .agree > div {
  width: 9px;
  height: 9px;
  margin: 5px 5px 5px 0;
  border: solid 3px #bdc3c7;
  border-radius: 3px;
  background: #bdc3c7;
}
body > section.my_artwork_agreement .agree > div.selected div {
  width: 9px;
  height: 9px;
  border-radius: 1.5px;
  background: #34495e;
}
body > section.my_artwork_agreement .agree span {
  line-height: 25px;
}
body > section.my_artwork_agreement button {
  cursor: pointer;
  display: block;
  width: 290px;
  height: 35px;
  margin: 10px auto;
  padding: 5px;
  border: 0;
  border-radius: 5px;
}
body > section.my_artwork_agreement button[disabled='disabled'] {
  cursor: default;
  background: #bdc3c7;
  color: #ecf0f1;
}
body > section.my_artwork_agreement button:active {
  background: #2980b9;
}
body > section.my_artwork_agreement button[disabled='disabled'] {
  background: #bdc3c7;
}
body > section.my_artwork > section.info section.thumbnail {
  width: 62px;
  height: 62px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  background: white url(../img/__.author_list_picture_01_tarongring.png) no-repeat 0 0;
  background-size: 62px 62px;
}
body > section.my_artwork > section.info article {
  width: 821px;
  height: 32px;
  padding: 15px 0;
}
body > section.my_artwork > section.info p {
  padding-top: 10px;
}
body > section.my_artwork > section.list-head {
  height: 25px;
}
body > section.my_artwork > section.list-head button {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px 10px 5px 22px;
  border: 0;
  border-radius: 5px;
  background: #3498db url(../img/icon.plus.png) no-repeat 8px 50%;
  transition: background 0.2s linear;
}
body > section.my_artwork > section.list-head button:active {
  background-color: #2980b9;
}
body > section.my_artwork > section.list section.blank {
  border: dashed 1px #95a5a6;
  border-radius: 15px;
  text-align: center;
  line-height: 85px;
}
body > section.my_artwork > section.list section.blank span {
  margin-top: -30px;
}
body > section.my_artwork > section.list section.blank:last-child {
  margin-top: 15px;
}
body > section.my_artwork > section.list section.item.p:first-child {
  margin: 0;
  padding: 0;
  border: 0;
}
body > section.my_artwork > section.list section.item {
  border-top: dashed 1px #bdc3c7;
}
body > section.my_artwork > section.list section.item section.cover {
  width: 290px;
  height: 145px;
}
body > section.my_artwork > section.list section.item article {
  width: 595px;
  height: 105px;
  padding: 10px 0;
}
body > section.my_artwork > section.list section.item div {
  bottom: 0;
  left: 0;
}
body > section.my_artwork > section.list section.item:nth-child(1) section.cover {
  background: url(../img/__.artworks_list_thumbnail_01.png);
}
body > section.my_artwork > section.list section.item:nth-child(2) section.cover {
  background: url(../img/_.sample05.png);
}
body > section.my_artwork > section.list section.item:nth-child(3) section.cover {
  background: url(../img/_.sample06.png);
}
body > section.my_artwork > section.list section.item:nth-child(4) section.cover {
  background: url(../img/_.sample07.png);
}
body > section.my_artwork > section.list section.status > section > section > span {
  display: inline-block;
  height: 20px;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
  background: #1abc9c;
  line-height: 20px;
}
body > section.my_artwork > section.list section.status section.toggle {
  cursor: pointer;
  display: block;
  width: 90px;
  height: 20px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  background: #3498db;
  color: white;
  overflow: hidden;
  transition: all 0.25s linear;
}
body > section.my_artwork > section.list section.status section.toggle section.p.layer-relative {
  height: 20px;
}
body > section.my_artwork > section.list section.status section.toggle span {
  display: inline-block;
  width: 55px;
  height: 20px;
  padding-right: 5px;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 20px;
}
body > section.my_artwork > section.list section.status section.toggle span:nth-child(3) {
  padding-left: 5px;
  padding-right: 0;
  left: 90px;
}
body > section.my_artwork > section.list section.status section.toggle button {
  cursor: pointer;
  width: 30px;
  height: 20px;
  border: 0;
  border-radius: 5px;
  background: #2980b9;
  top: 0;
  left: 60px;
}
body > section.my_artwork > section.list section.status section.toggle.inverse {
  background: #bdc3c7;
}
body > section.authors > section.p > section:first-child span.thumbnail {
  display: inline-block;
  width: 126px;
  height: 126px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  background: transparent url(../img/__.author_list_picture_01_tarongring.png) no-repeat 0 0;
}
body > section.authors > section.p > section:first-child > section {
  width: 757px;
  height: 98px;
  padding: 15px 0 15px 15px;
}
body > section.authors > section.p > section:first-child > section h1 {
  height: 25px;
  line-height: 25px;
}
body > section.authors > section.p > section:first-child > section h1 span {
  display: inline-block;
  height: 25px;
  line-height: 25px;
}
body > section.authors > section.p > section:first-child > section h1 span:nth-child(2) {
  padding-left: 5px;
}
body > section.authors > section.p > section:first-child > section p {
  text-align: justify;
}
body > section.authors > section.p > section:nth-child(2) > span {
  line-height: 64px;
}
body > section.authors > section.p > section:nth-child(2) span.thumbnail {
  display: inline-block;
  width: 62px;
  height: 62px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  background: transparent url(../img/__.author_list_01_artwork_thumbnail_01.png) no-repeat 50% 50%;
}
body > section.authors > section.p > section:nth-child(2) span.thumbnail.b {
  background-image: url(../img/__.author_list_02_artwork_thumbnail_01.png);
}
body > section.authors > section.p > section:nth-child(2) span.thumbnail.c {
  background-image: url(../img/__.author_list_03_artwork_thumbnail_01.png);
}
body > section.authors > section.p > section:nth-child(2) li {
  margin-left: 45px;
}
body > section.authors > section.p > section:nth-child(2) li:first-child {
  margin: 0;
}
body > section.authors > section.p > section:nth-child(2) li a span.p.right {
  display: inline-block;
  height: 54px;
  padding: 5px 0 5px 10px;
}
body > section.authors > section.p > section:nth-child(2) li h4 {
  padding-top: 10px;
}
body > section.authors > section.p.item {
  padding: 15px;
  border-top: dashed 1px #bdc3c7;
}
body > section.authors > section.p.item:first-child {
  border-top-width: 0;
}
body > section.authors > section.p.item:nth-child(2) section > span.thumbnail {
  background-image: url(../img/__.author_list_picture_02_mimetoonist.png);
}
body > section.authors > section.p.item:nth-child(3) section > span.thumbnail {
  background-image: url(../img/__.author_list_picture_03_beforeblue.png);
}
body > section.artwork-register > section:nth-child(2) > section > section {
  margin-bottom: 15px;
}
body > section.artwork-register > section:nth-child(2) > section > section b, body > section.artwork-register > section:nth-child(2) > section > section input {
  height: 35px;
}
body > section.artwork-register > section:nth-child(2) > section > section b {
  display: inline-block;
  width: 70px;
  padding-left: 5px;
  border-bottom: solid 1px #95a5a6;
  line-height: 35px;
}
body > section.artwork-register > section:nth-child(2) > section > section input {
  width: 325px;
  border: 0;
  border-bottom: solid 1px #95a5a6;
  background: transparent;
}
body > section.artwork-register > section:nth-child(2) > section > section input:focus {
  height: 35px;
  border-bottom: solid 1px #2980b9;
}
body > section.artwork-register > section:nth-child(2) > section > section button {
  cursor: pointer;
  width: 55px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  transition: background 0.125s linear;
}
body > section.artwork-register > section:nth-child(2) > section > section button:hover {
  background: #2980b9;
}
body > section.artwork-modify li, body > section.chapter-add li {
  height: 45px;
  border-top: solid 1px #95a5a6;
}
body > section.artwork-modify li:first-child, body > section.chapter-add li:first-child {
  border-top-width: 0;
}
body > section.artwork-modify li span.p, body > section.chapter-add li span.p {
  padding-left: 10px;
  line-height: 45px;
}
body > section.artwork-modify input, body > section.chapter-add input {
  width: 510px;
  height: 25px;
  margin: 10px 0;
  padding: 0 5px;
  border: 0;
  border-radius: 5px 0 0 5px;
  background: rgba(255, 255, 255, 0.75);
}
body > section.artwork-modify button, body > section.chapter-add button {
  cursor: pointer;
  width: 70px;
  height: 25px;
  margin: 10px 0;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #3498db;
  color: white;
  transition: background 0.125s linear;
}
body > section.artwork-modify button:hover, body > section.chapter-add button:hover {
  background: #2980b9;
}
body > section.artwork-modify li:first-child input, body > section.artwork-modify li:nth-child(2) input, body > section.chapter-add li:first-child input, body > section.chapter-add li:nth-child(2) input {
  width: 580px;
  border-radius: 5px;
}
body > section.artwork-modify li:nth-child(3), body > section.chapter-add li:nth-child(3) {
  height: 90px;
}
body > section.artwork-modify li:nth-child(3) textarea, body > section.chapter-add li:nth-child(3) textarea {
  width: 580px;
  max-width: 580px;
  height: 60px;
  max-height: 60px;
  margin: 10px 0;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75);
}
body > section.artwork-modify li:last-child, body > section.chapter-add li:last-child {
  border-bottom: solid 1px #95a5a6;
}
body > section.artwork-modify > section:nth-child(2) > section > button, body > section.chapter-add > section:nth-child(2) > section > button {
  border-radius: 5px;
}
body > section.chapter-add li:nth-child(3) {
  height: 45px;
}
body > section.chapter-add li:nth-child(4) input {
  width: 580px;
  border-radius: 5px;
}
body > section.notice article > section:first-child {
  height: 40px;
  padding: 0 10px;
  border-bottom: solid 2px #bdc3c7;
}
body > section.notice article > section:first-child > * {
  line-height: 40px;
}
body > section.notice article > section:nth-child(2) {
  padding: 10px;
  text-align: justify;
  line-height: 160%;
}
body > section.notice article > section:nth-child(2) p {
  padding: 0.5em 0;
  text-indent: 1em;
}
body > section.notice article > section:nth-child(2) p:first-child {
  padding-top: 0;
}
body > section.notice article > section:nth-child(2) p:last-child {
  padding-bottom: 0;
}
body > section.notice nav {
  text-align: center;
}
body > section.notice nav section {
  border-bottom: solid 2px #bdc3c7;
}
body > section.notice nav section span.p {
  display: inline-block;
  height: 45px;
  font-weight: bold;
  line-height: 45px;
}
body > section.notice nav section span:first-child {
  width: 120px;
}
body > section.notice nav section span:nth-child(2) {
  width: 600px;
}
body > section.notice nav section span:nth-child(3) {
  width: 180px;
}
body > section.notice nav ul:nth-child(2) span.p {
  display: inline-block;
  height: 45px;
  line-height: 45px;
}
body > section.notice nav ul:nth-child(2) span:first-child {
  width: 120px;
}
body > section.notice nav ul:nth-child(2) span:nth-child(2) {
  width: 600px;
  text-align: left;
}
body > section.notice nav ul:nth-child(2) span:nth-child(3) {
  width: 180px;
}
body > section.notice nav ul:nth-child(2) li {
  border-bottom: dashed 1px #bdc3c7;
}
body > section.notice nav ul:nth-child(2) li:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
body > section.notice nav ul:nth-child(2) li:last-child {
  border-bottom-style: solid;
}
body > section.notice nav ul:nth-child(2) li.selected span:first-child {
  background: transparent url(../img/icon.bullet.go.png) no-repeat 50% 50%;
  color: transparent;
}
body > section.notice nav ul:nth-child(2) li.selected span:nth-child(2), body > section.notice nav ul:nth-child(2) li.selected span:nth-child(3) {
  font-weight: bold;
}
body > section.notice nav ul:nth-child(3) {
  display: inline-block;
}
body > section.notice nav ul:nth-child(3) * {
  display: inline-block;
}
body > section.notice nav ul:nth-child(3) li {
  display: block;
  min-width: 24px;
  height: 24px;
  padding: 0 0 0 9px;
}
body > section.notice nav ul:nth-child(3) li a {
  line-height: 24px;
  text-align: center;
}
body > section.notice nav ul:nth-child(3) li a span {
  color: #e74c3c;
}
body > section.notice nav ul:nth-child(3) li:first-child {
  padding: 0;
}
body > section.notice nav ul:nth-child(3) li.button a {
  width: 12px;
  height: 12px;
  padding: 6px;
  line-height: normal;
}
body > section.notice nav ul:nth-child(3) li.p.clear {
  width: 0;
  height: 0;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
footer > .p > h3.p {
  line-height: 100px;
}
footer > .p nav {
  margin-left: 15px;
}
footer > .p li {
  margin-left: 10px;
}
footer > .p li a {
  margin: -2px 0 0 -3px;
  padding: 2px 3px;
  line-height: 100px;
}
